body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
}

input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #22c55e;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
